In [1]:
#PIP INSTALL REQUESTS BEAUTIFULSOUP4 PANDAS
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/Animal'
response=requests.get(url)

In [5]:
soup=BeautifulSoup(response.content,'html.parser')

In [7]:
table=soup.find('table',{'class':'wikitable'})

In [9]:
#extract table headers
headers=[]
for th in table.find_all('th'):
    print(th)
    header_text=th.text.strip()
    headers.append(header_text)

<th><a href="/wiki/Phylum" title="Phylum">Phylum</a>
</th>
<th class="unsortable">Example
</th>
<th>Described species
</th>
<th><a href="/wiki/Terrestrial_animal" title="Terrestrial animal">Land</a>
</th>
<th><a class="mw-redirect" href="/wiki/Marine_animals" title="Marine animals">Sea</a>
</th>
<th><a href="/wiki/Fresh_water#Aquatic_organisms" title="Fresh water">Freshwater</a>
</th>
<th>Free-living
</th>
<th><a class="mw-redirect" href="/wiki/Parasite" title="Parasite">Parasitic</a>
</th>
<th colspan="8"><div class="center" style="width:auto; margin-left:auto; margin-right:auto;">Total number of described extant species as of 2013<sup class="plainlinks noexcerpt noprint asof-tag update" style="display:none;"><a class="external text" href="https://en.wikipedia.org/w/index.php?title=Animal&amp;action=edit">[update]</a></sup>: 1,525,728<sup class="reference" id="cite_ref-Zhang2013_69-14"><a href="#cite_note-Zhang2013-69"><span class="cite-bracket">[</span>68<span class="cite-bracket">]</span></a></sup></div>
</th>

In [11]:
#extract table headers
headers=[]
for th in table.find_all('th'):
    header_text=th.text.strip()
    print(header_text)
    headers.append(header_text)

print(len(headers))

Phylum
Example
Described species
Land
Sea
Freshwater
Free-living
Parasitic
Total number of described extant species as of 2013[update]: 1,525,728[68]
9

In [27]:
#step 5: Extract table rows
rows=[]
for tr in table.find_all('tr'):
    #get all cells (both header and data cells)
    cells=tr.find_all(['td'])
    row = [cell.get_text(strip=True) for cell in cells]

    #only add rows that have at least one cell
    if row:
        rows.append(row)

In [29]:
#step 6: Handle cases where rows have fewer or more columns than headers
#pad rows with missing values (none) or truncate them to match the number of headers
cleaned_rows=[]
for row in rows:
    if len(row)<len(headers):
        #pad the row if it's shorter than headers
        row.extend([None]*(len(headers)-len(row)))
    elif len(row)> len(headers):
        #Truncate the row if iy's longer than headers
        row=row[:len(headers)]
    cleaned_rows.append(row)

In [31]:
#step 7: create a dataframe from the cleaned rows
df=pd.DataFrame(cleaned_rows,columns=headers)

#Display the first few rows of the Dataframe
print(df.head())

            Phylum Example      Described species                        Land  \
0       Arthropoda                  1,257,000[68]  Yes 1,000,000(insects)[76]
1         Mollusca          85,000[68]107,000[78]              Yes 35,000[78]
2         Chordata                >70,000[68][79]              Yes 23,000[80]
3  Platyhelminthes                     29,500[68]                     Yes[82]
4         Nematoda                     25,000[68]              Yes (soil)[70]

                              Sea               Freshwater  \
0  Yes >40,000(Malac-ostraca)[77]           Yes 94,000[69]
1                  Yes 60,000[78]  Yes 5,000[69]12,000[78]
2                  Yes 13,000[80]  Yes 18,000[69]9,000[80]
3                         Yes[70]            Yes 1,300[69]
4                   Yes 4,000[72]            Yes 2,000[69]

              Free-living                        Parasitic  \
0                 Yes[70]               Yes >45,000[c][71]
1                 Yes[70]                   Yes >5,600[71]
2                     Yes          Yes 40(catfish)[81][71]
3  Yes[70]3,000–6,500[83]  Yes >40,000[71]4,000–25,000[83]
4           Yes11,000[72]                   Yes 14,000[72]

  Total number of described extant species as of 2013[update]: 1,525,728[68]
0                                               None
1                                               None
2                                               None
3                                               None
4                                               None

In [25]:
df=df[1:]
print(df)

                                               Phylum Example  \
2                                            Mollusca
3                                            Chordata
4                                     Platyhelminthes
5                                            Nematoda
6                                            Annelida
7                                            Cnidaria
8                                            Porifera
9                                       Echinodermata
10                                            Bryozoa
11                                           Rotifera
12                                           Nemertea
13                                         Tardigrada
14  Total number of described extant species as of...    None

        Described species                   Land             Sea  \
2   85,000[68]107,000[78]         Yes 35,000[78]  Yes 60,000[78]
3         >70,000[68][79]         Yes 23,000[80]  Yes 13,000[80]
4              29,500[68]                Yes[82]         Yes[70]
5              25,000[68]         Yes (soil)[70]   Yes 4,000[72]
6              17,000[68]         Yes (soil)[70]         Yes[70]
7              16,000[68]                                Yes[70]
8              10,800[68]                                Yes[70]
9               7,500[68]                          Yes 7,500[68]
10              6,000[68]                                Yes[70]
11              2,000[68]                           Yes >400[85]
12          1,350[86][87]                                    Yes
13              1,335[68]  Yes[88](moist plants)             Yes
14                   None                   None            None

                 Freshwater             Free-living  \
2   Yes 5,000[69]12,000[78]                 Yes[70]
3   Yes 18,000[69]9,000[80]                     Yes
4             Yes 1,300[69]  Yes[70]3,000–6,500[83]
5             Yes 2,000[69]           Yes11,000[72]
6             Yes 1,750[69]                     Yes
7             Yes (few)[70]                 Yes[70]
8               200–300[69]                     Yes
9                                           Yes[70]
10            Yes 60–80[69]                     Yes
11            Yes 2,000[69]                     Yes
12                      Yes                     Yes
13                      Yes                     Yes
14                     None                    None

                          Parasitic  \
2                    Yes >5,600[71]
3           Yes 40(catfish)[81][71]
4   Yes >40,000[71]4,000–25,000[83]
5                    Yes 14,000[72]
6                       Yes 400[71]
7           Yes >1,350(Myxozoa)[71]
8                           Yes[84]
9
10
11
12
13
14                             None

   Total number of described extant species as of 2013[update]: 1,525,728[68]
2                                                None
3                                                None
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None