In [48]:
import sqlite3
conn=sqlite3.connect('C:/Users/Pccoe/Desktop/123B1F129/data_science/sample.db')
cur=conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS students(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                age INTEGER,
                grade TEXT
                )''')

#INSERT SAMPLE DATA INTO THE TABLE
cur.execute("insert into students (name,age,grade) VALUES ('abc',22,'A')")
cur.execute("insert into students (name,age,grade) VALUES ('pqr',33,'B')")
cur.execute("insert into students (name,age,grade) VALUES ('xyz',11,'A')")

#COMMIT THE CHANGES
conn.commit()

#step 5: Query the data to ensure it's correctly inserted
cur.execute("SELECT * FROM students")
rows=cur.fetchall()

#Display THE results 
for row in rows:
    print(row)

#close the connection to the database

SyntaxError: invalid syntax (603967800.py, line 26)

In [42]:
import pandas as pd
conn=sqlite3.connect('C:/Users/Pccoe/Desktop/123B1F129/data_science/sample.db')
query="select * FROM students"
df=pd.read_sql_query(query,conn)
print(df)

    id name  age grade
0    1  ABC   22     A
1    2  PQR   33     B
2    3  XYZ   11     A
3    4  ABC   22     A
4    5  PQR   33     B
5    6  XYZ   11     A
6    7  abc   22     A
7    8  pqr   33     B
8    9  xyz   11     A
9   10  abc   22     A
10  11  pqr   33     B
11  12  xyz   11     A

In [52]:
# UPDATE Customers
# SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
# WHERE CustomerID = 1;
cur.execute("SELECT * FROM students")
rows=cur.fetchall()
delete from students where id='1';

for row in rows:
    print(row)

SyntaxError: invalid syntax (3014834536.py, line 6)